/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


body {
    height: 100%;
    width: 100%;
    margin: auto;
}

@media only screen and (max-width:700px) {
    body {
        font-size: 12pt;
    }
}

#main {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: auto;
    height: 100%;
    font-size: 16pt;
}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}


/* NAV */
#logo-img {
    width: 160px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 1 / 2;
}

#nav-list {
    display: flex;
    justify-content: space-evenly;
    margin-block-start:0; 
    margin-block-end:0; 
    margin-inline-start:0; 
    margin-inline-end:0;
    padding-block-start:0; 
    padding-block-end:0; 
    padding-inline-start:0; 
    padding-inline-end:0;
}

.nav-item {
    text-decoration: none;
    list-style: none;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: .5rem;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    #nav {
        flex-direction: column;
    }
}




/* HERO */
#hero {
    display: flex;
    grid-row: 2 / 3;
    align-items: center;
    justify-content: center;
}


.btn {
    text-decoration: none;
    color: white;
    background-color: red;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 1em;
}

#hero::before {
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: url(../images/hero.jpeg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(30%);
}

#title {
    position: absolute;
    color: white;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
}

#hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
}

#remax-ass {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1.25em;
    line-height: 1;
    margin: 0;
}

#title-low {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    #title-low {
        flex-direction: column;
    }

    #remax-ass {
        margin-bottom: 3rem;
    }

    #main {
        font-size: 14pt;
    }
}

@media only screen and (max-width: 500px) {

    #title {
        font-size: 1em;
    }

    h1 {
        font-size: 3.5em;
    }
}




/* ABOUT */

#about {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
}

.about-contain {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto; 
    flex-wrap: wrap;
    margin: 10% 0rem;
    align-items: center;
  }
  
  .img-col {
    flex-basis: 45%;
    text-align: center;
  }

  .double-head {
    color: #e81111;
  }
  
  .info-body {
    flex-basis: 45%;
    margin: 1rem 2rem;
  }
  
  .about-img {
    max-width: 500px;
    border-radius: 300px;
  }

  #blimp {
    flex-direction: row-reverse;
  }

  .blimpcol {
    text-align: start;
  }

  
  /* Additional styling for responsiveness */
  @media (max-width: 850px) {
    .img-col {
      flex-basis: 100%;
      text-align: center;
    }

    .info-body {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .double-head {
        margin-bottom: 0;
    }
  }
  
  @media (max-width: 500px) {
    #sheri {
        width: 300px;
    }
}

  /* Home Gallery */
#home-gallery {
    grid-row: 4 / 5;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    align-items: center;
}

